---
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignEscapedNewlines: Left
AlignTrailingComments:
  Kind: Always
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCompoundRequirementOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BraceWrapping: {}
BracedInitializerIndentWidth: 4
ColumnLimit: 120
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 0
IndentAccessModifiers: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: false
Language: Cpp
LineEnding: LF
QualifierAlignment: Right
ReferenceAlignment: Left
SortIncludes: true